@import "bootstrap";
@import "responsive";

/* Font */

body {
  margin: 0;
  font-family: 'Waiting for the Sunrise', cursive;  
  font-size: 20px;
  line-height: 20px;
  color: #333333;
  background-color: white;
  font-weight: normal;
}

input,
button,
select,
textarea {
  font-family: 'Waiting for the Sunrise', cursive; 
  font-weight: bold;
}

.navbar-search .search-query {
  margin-bottom: 0;
  padding: 4px 14px;
  font-family: 'Waiting for the Sunrise', cursive; 
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

p {
	font-size: 18px;
}

.titol-cursos {
	color: #009933;
}

/* Estils pàgina login */

#header {
	background-image: url(../images/caixa_escola.png);    	
}


.span3.imatge-nen {
	width: auto;	
	float: left;
}

.span7.dades-nen {
	width: auto;	
	float: left;
}

.caixa_profile .span2 {
	width: auto;
	float: left;	
}

.logo_escola {
	background-color: white;
	color:  #FF330D;
	margin-top: 20px;	
	opacity: 0.8;
}

.caixa_logo {
	border: 0px !important;
	padding: 0 0 0 15px;
	margin: 0 0 20px;
}

.noticia {
	background-color: white;
	margin-bottom: 50px;
	/* Rotate div */
	transform:rotate(-1deg);
	-ms-transform:rotate(-1deg); /* Internet Explorer */
	-moz-transform:rotate(-1deg); /* Firefox */
	-webkit-transform:rotate(-1deg); /* Safari and Chrome */
	-o-transform:rotate(-1deg); /* Opera */
}

.titol-noticia {
	color: #E6511E;
	font-size: 20px;
	margin-left: 20px;
}

.text-noticia {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	text-align:justify;
	margin-left: 20px;
	margin-right: 20px;
}

.image-noticia {
	margin-top: 30px;
	margin-left: 20px;
}

.container-login {
	@extend .container;
	background-color: #FECC00;
}

.login {		
   	background-image: url(../images/caixa_login4.png);  
   	background-repeat:no-repeat;
   	height: 300px;
}	


.control-label-login {	
	float: left;
	width: 90px;
	padding-top: 5px;
	text-align: left;
	text-transform: uppercase;
	color: white;
	margin-left: 65px;
	font-size: 16px;
	font-weight: bold;
}

.legend-login {	
	margin-left: 65px;
	border-bottom: none;
	color: white !important;
	font-size: 30px;
	line-height: 40px;
	font-weight: bold;
}

.control-group-login {
	@extend .control-group;
	margin-bottom: 10px !important;
}

.legend-login + .control-group-login {
	margin-top: 0px;
	-webkit-margin-top-collapse: separate;
}

.form-horizontal-login {
	@extend .form-horizontal;
	padding-top: 60px;
}

.btn-link-login {
	@extend .btn-link;	
	color: white;
	text-transform: uppercase;
	padding-right: 0px;
	padding-top: 0px;	
	padding-bottom: 0px;
	font-size: 18px;
}

.icon-white-login {
	@extend .icon-white;
	color: white;
}

.controls-submit-login {
	@extend .controls-submit;
	width: 100px;
	margin-left: 305px;
	margin-top: -5px;
	font-size: 16px;
}




@media (min-width: 978px) and (max-width: 1196px) {

	.login {	
		@extend .img;
	   	background-image: url(../images/caixa_login768.png);  
	   	background-repeat:no-repeat;
	   	height: 240px;
	}	

	.form-horizontal-login {
		padding-top: 45px;
	}

	.input-login {
		width: 150px !important;
		height: 15px !important;
	}


	.legend-login {	
		margin-left: 55px;
		border-bottom: none;
		color: white !important;
		font-size: 22px;
		line-height: 25px;
	}

	.control-label-login {
		float: left;
		width: 90px;
		padding-top: 5px;
		text-align: left;
		text-transform: uppercase;
		color: white;
		margin-left: 55px;
	}

	.form-horizontal-login .controls {
		margin-left: 160px;
	}


	.control-group-login {
		margin-bottom: 10px !important;
	}

	.controls-submit-login {
		width: 100px;
		margin-left: 238px;
		margin-top: -10px;
	}

	.legend-login + .control-group-login {
		margin-top: 5px;
		-webkit-margin-top-collapse: separate;
	}

	.image-noticia {
		margin-top: 50px;
		margin-left: 10px;
	}

}


@media (max-width: 979px) and (min-width: 768px) {

	
	.login {	
		@extend .img;	   
	   	height: 300px;
	   	background-image: url(../images/caixa_login768.png);  	
	   	width: 485px;
	   	margin-left: 125px;	   	   	
	}	

	.form-horizontal-login {
		padding-top: 45px;
		padding-left: 30px;
	}

	.input-login {
		width: 150px !important;
		height: 15px !important;
	}


	.legend-login {	
		margin-left: 55px;
		border-bottom: none;
		color: white !important;
		font-size: 22px;
		line-height: 25px;
		width: 180px;
	}

	.control-label-login {
		float: left;
		width: 90px;
		padding-top: 5px;
		text-align: left;
		text-transform: uppercase;
		color: white;
		margin-left: 55px;
		font-size: 18px;
	}

	.form-horizontal-login .controls {
		margin-left: 160px;
	}


	.control-group-login {
		margin-bottom: 10px !important;
	}

	.controls-submit-login {
		width: 100px;
		margin-left: 238px;
		margin-top: -10px;
	}

	.legend-login + .control-group-login {
		margin-top: 5px;
		-webkit-margin-top-collapse: separate;
	}

	.image-noticia {
		margin-top: 50px;
		margin-left: 10px;
	}
}

@media (max-width: 767px) {


	body {
		padding-left: 0px;
		padding-right: 0px;
	}

	.login {	
		@extend .img;	
	   	background-image: none !important;  
	   	height: auto !important;  
	}	

	.form-horizontal-login {
		padding-top: 45px;
	}

	.input-login {
		width: 150px !important;
		height: 15px !important;
	}


	.legend-login {	
		margin-left: 10px;
		border-bottom: none;
		color: white !important;
		font-size: 22px;
		line-height: 25px;
	}

	.control-label-login {
		float: left;
		width: 90px;
		padding-top: 5px;
		text-align: left;
		text-transform: uppercase;
		color: white;
		margin-left: 10px;
		font-size: 18px;
	}

	.form-horizontal-login .controls {
		margin-left: 125px;
	}


	.control-group-login {
		margin-bottom: 10px !important;
	}

	.controls-submit-login {
		width: 100px;
		margin-left: 193px;
		margin-top: -10px;
	}

	.legend-login + .control-group-login {
		margin-top: 5px;
		-webkit-margin-top-collapse: separate;
	}

	.image-noticia {
		margin-top: 50px;
		margin-left: 10px;
	}

}

/* Fi estils pàgina login */

/* Estils pàgina home */

/* Dades usuari */ 

.caixa_profile {	
	background-image: url(../images/caixa_profile.png);  
	background-repeat:no-repeat;
	background-position: center left;	
	padding-left: 10px;
	margin-top: 10px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
}

.caixa_profile_top {
	background-image: url(../images/top_caixa_profile.png);
	background-repeat: no-repeat;
	background-position: top left;
	margin-top: 20px;
	background-size: 100%;
}

.imatge-nen {
	margin-left: 10px;		
}

.dades-nen {
	margin-left: 0px !important;
	width: auto !important;		
}	

.negreta {
	font-weight: bold;
}

.menu {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
}

ul.dades {
	list-style-type: none !important;	
	vertical-align: bottom;
	margin-left: 10px;
	margin-top: 0px;
	color: white;	
}

ul.dades li {
	line-height: 25px;
}


ul.dades li a {
	color: white;
}

/* FI Dades usuari */ 


/* MENU NAVEGACIO */

.goout {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;	
	overflow: hidden;	
	width: 1px;
}
.nav {
	@extend .nav;
	text-transform: uppercase;
}

.navbar {
	@extend .navbar;
	color:#FF9900 !important;
	background-color: #FF9900 !important;
	filter:none;}


.navbar-inner {
	@extend .navbar-inner;
	background-color: #FF9900;
	background-image: none !important;	
	background-repeat: repeat-x;
	filter: none;
	border: none;
}


.navbar .nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0px;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: none;
}

.ico-home {
	height: 40px;	
}

.navbar .nav > li.ico-home > a
{	
	padding-top: 5px !important;
}

.nav-collapse.collapse {
	font-weight: bold;
}

/* Menú ELS MEUS CURSOS */

.els-meus-cursos {
	background-color: #FF6633;
}

.els-meus-cursos .dropdown-toggle  {
	@extend .dropdown-toggle;
	background-color: #FF6633;	
	color: white !important;
}

.navbar .nav li.dropdown.els-meus-cursos.open > .dropdown-toggle, 
.navbar .nav li.dropdown.els-meus-cursos .active > .dropdown-toggle, 
.navbar .nav li.dropdown.els-meus-cursos.open.active > .dropdown-togglee 
{
	background-color: #FF6633 !important;
	color: #555;
}

.els-meus-cursos .dropdown-menu, 
.els-meus-cursos ul.dropdown-menu {
	background-color: #FF6633;
}

.els-meus-cursos ul.dropdown-menu > li > a {
	color: white;
}

/* Menú NAVEGACIO */

.navegacio {
	background-color: #339933;		
}

.navegacio .dropdown-toggle  {
	@extend .dropdown-toggle;
	background-color: #339933;	
	color: white !important;
}

.navbar .nav li.dropdown.navegacio.open > .dropdown-toggle, 
.navbar .nav li.dropdown.navegacio .active > .dropdown-toggle, 
.navbar .nav li.dropdown.navegacio.open.active > .dropdown-togglee 
{
	background-color: #339933 !important;
	color: #555;
}

.navegacio .dropdown-menu, 
.navegacio ul.dropdown-menu {
	background-color: #339933;
}

.navegacio ul.dropdown-menu > li > a {
	color: white;
}

/* Menú ARRANJAMENTS */

.arranjaments {
	background-color: #990066;		
}

.arranjaments .dropdown-toggle  {
	@extend .dropdown-toggle;
	background-color: #990066;	
	color: white !important;
}

.navbar .nav li.dropdown.arranjaments.open > .dropdown-toggle, 
.navbar .nav li.dropdown.arranjaments .active > .dropdown-toggle, 
.navbar .nav li.dropdown.arranjaments.open.active > .dropdown-togglee 
{
	background-color: #990066 !important;
	color: #555;
}

.arranjaments .dropdown-menu, 
.arranjaments ul.dropdown-menu {
	background-color: #990066;
}

.arranjaments ul.dropdown-menu > li > a {
	color: white;
}


/* Menú EL MEU PERFIL */

.el-meu-perfil {
	background-color: #0066CC;		
}

.el-meu-perfil .dropdown-toggle  {
	@extend .dropdown-toggle;
	background-color: #0066CC;	
	color: white !important;
}

.navbar .nav li.dropdown.el-meu-perfil.open > .dropdown-toggle, 
.navbar .nav li.dropdown.el-meu-perfil .active > .dropdown-toggle, 
.navbar .nav li.dropdown.el-meu-perfil.open.active > .dropdown-togglee 
{
	background-color: #0066CC !important;
	color: #555;
}

.el-meu-perfil .dropdown-menu, 
.el-meu-perfil ul.dropdown-menu {
	background-color: #0066CC;
}

.el-meu-perfil ul.dropdown-menu > li > a {
	color: white;
}

/* FI MENU NAVEGACIO */

#benvingut {	
	background-color: white;	
}


/* Navegació menú dreta */

.nav-dreta {
	background-color: #FF6633;	
}

.nav-tabs.nav-stacked {
	border-bottom: 0;
	font-weight: bold;
}

.nav-tabs.nav-stacked.nav-dreta  > li > a {
	color:white
}

.nav-tabs.nav-stacked.nav-dreta  > li > a:hover, 
.nav-tabs.nav-stacked.nav-dreta  > li > a:focus {
	border-color: #FF9900;
	z-index: 2;
}

.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: #FF9900;
}

/* Fi navegació menú dreta */

.portlet-actualitat .header {
	background-color: #0066CC;
	color: white;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.portlet-actualitat .title {
	background-color: #0066CC;
	color: white;
	text-transform: uppercase;
	margin-bottom: 0px;
	padding-left: 20px;
}

.portlet-actualitat  .content {
	list-style-type: none;
	margin-left: 0px;
	margin-bottom: 0px; 
}

.portlet-noticies {
	background-color: #f29400;
}

.title h3 {
	margin-bottom: 0px;
}

.noticia-amb-imatge  {
	background-color: #ff9900;	
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 0px;
	margin-top: -10px;
}

.titol-noticia-actualitat {
	color: white;
	font-size: 20px;
}

.text-noticia-actualitat {
	color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;	
}

.noticia-sense-imatge1 {
	background-color: #FF6633;	
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 0px;
	margin-top: -10px;	
}

.noticia-sense-imatge2 {
	background-color: #339933;	
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 0px;
	margin-top: -10px;	
}

.imatge-separacio {
	margin-bottom: -60px;
	width: auto;
	height: 7px;
	padding-left: 0px;
	padding-right: 0px;
	line-height: 0px;
}

.imatge-separacio-titol {
	margin-bottom: -14px;
	width: auto;
	height: 7px;
}

.curs1 {
 	background-image: url(../images/caixa1.png);  
   	background-repeat:no-repeat;
   	height: auto;
   	padding-top: 5px;  
   	min-height: 150px; 	
}

.curs2 {
 	background-image: url(../images/caixa2.png);  
   	background-repeat:no-repeat;
   	height: auto;
   	padding-top: 15px;
   	min-height: 150px;
}

.curs3 {
 	background-image: url(../images/caixa3.png);  
   	background-repeat:no-repeat;
   	height: auto;
   	padding-top: 5px;
   	min-height: 150px;
}

.curs4 {
 	background-image: url(../images/caixa4.png);  
   	background-repeat:no-repeat;
   	height: auto;
   	padding-top: 20px;
   	min-height: 150px;
}

.curs h3 {
	color: white;
	line-height: 20px;
	margin-left: 10px;
	text-transform: uppercase;
}

.curs p {
	color: white;	
	margin-left: 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
}

.profesor {
	margin-bottom: 0px; 
	margin-top: 20px;	
}

a.boto-curs { 
	text-decoration: none;
}

/* ESTILS PAGINA CURS */

/* Breadcrumb */

.breadcrumb {
	padding: 8px 15px;
	margin: 0px;
	list-style: none;
	background-color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
}

.breadcrumb {
	li{
		a{
		color: #999;
		}
	}
}

ul.topics {
	list-style-type: none;
	margin-left: 0px;
}


ul.topics li .span11 {	
	margin-left: 0px;	
}

ul.topics li.active .span12 {
	background-color: #ffff99 !important;
}

.titol-curs {
	color: #FF6633;
	text-transform: uppercase;
}

.titol-apartat-curs {
	color: #FF6633;	
}

.text-apartat-curs {	
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
}

.info-general ul li,  .info-projecte ul li {
	list-style-type: none;
}

.info-general ul, .info-projecte ul{
	margin-left: 0px;	
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
}

.info-general ul li a, .info-projecte ul li a {
	color:#333;
}

.info-general ul li a:hover, .info-projecte ul li a:hover {
	color:#08C;
}

.info-general ul li a:active , .info-projecte ul li a:active {
	color:#08C;
}

.imatge {
	align: center;
}

/* Portlet-activitats */

.portlet-activitats .header {
	background-color: #FF6633;
	color: white;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.portlet-activitats .title {
	background-color: #FF6633;
	color: white;
	text-transform: uppercase;
	margin-bottom: 0px;
	padding-left: 20px;
}

.portlet-activitats  .content {
	list-style-type: none;
	margin-left: 0px;
	margin-bottom: 0px; 
}

/* Modificacions Activity */

#maxui-container a:hover {
	color: #FF6633 !important;
}

#maxui-container a {
	color: #FF6633 !important;
}

#maxui-search {	
	background: #FF9900 !important;	
}

.activities .maxui-activity {
	border-top: 0px !important;
	border-bottom: 0px !important;
	background-image: url(../images/separacio-portlet-activitats.png) !important;  
	background-repeat:no-repeat;
}


#maxui-more-activities input.maxui-button {
	color: #FF6633 !important;
}



#maxui-container a {
	text-decoration: none;
	font-family: 'Waiting for the Sunrise', cursive !important; 
	font-weight: normal;
	color:#007bc0;}

#maxui-more-activities input.maxui-button {
	border:1px solid #b2b2b2;
	border-radius:3px;
	margin: 5px 0 0 0;
	font-family: 'Waiting for the Sunrise', cursive !important; 
	font-size:13px;
	padding:3px 6px;
	color:#007bc0;
	background: #f2f2f2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #f2f2f2); /* for firefox 3.6+ */
	text-shadow: 0 1px #fff;
	font-weight: bold;
}

#maxui-newactivity textarea, .maxui-comments textarea {
	width:100%;
	color:#666;
	height:48px; min-height:48px;
	border: 1px #b2b2b2 solid;
	position:relative;
	padding:0 3px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	font-family: 'Waiting for the Sunrise', cursive !important; 
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.1),0 1px 0 #fff;
	font-size: 13px;line-height: 18px;
	overflow: auto;resize: vertical ;
	font-weight: normal;
}

input.maxui-button {
	border:1px solid #015ea4;
	border-radius:3px;
	margin: 5px 0 0 0;
	font-family: 'Waiting for the Sunrise', cursive !important;
	font-size:13px;
	padding:3px 6px;
	color:#fff;
	text-shadow: 0 -1px rgba(0,0,0,.5);
	background: #007bc0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#007bc0'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#33bbee), to(#007bc0)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #33bbee,  #007bc0); /* for firefox 3.6+ */
	font-weight: bold;
}


.maxui-message-count {
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	background-color: #3A87AD;
	color:white;
	font-size: 10px;
	padding:0px 1px;
	font-family: 'Waiting for the Sunrise', cursive !important;
	display:inline-block;
	min-width: 17px;
	text-align: center;
	font-weight: normal;
}

#maxui-search-text {
	-webkit-appearance: none; -moz-appearance:none; appearance:none;
	width:100%;	
	*width:97.5%;
	color:#666;
	height:24px; min-height:24px;
	border: 1px #b2b2b2 solid;
	position:relative;
	padding:1px 5px;
	-moz-border-radius: 3em; -webkit-border-radius: 3em; border-radius: 3em;	
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.1),0 1px 0 #fff;
	font-size: 13px;line-height: 20px;
	box-sizing:border-box;
	font-family: 'Waiting for the Sunrise', cursive !important;
	font-weight: normal;
}

/* links-institucionals */

.span3.links-institucionals {
	margin-left: 0px;	
}

.links-institucionals ul {
	list-style-type: none;	
	margin-left: 0px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;	
}

.links-institucionals ul {
	li{
		a{
			color: #666666;
		}
	}
}

.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
background-color: transparent;
}